<template>
    <div>
        Name: <input v-model="name" type="text">
        <!-- <hello-component :name="name" :initialEnthusiasm="5" /> -->
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    // import HelloWorld from "src/components/Hellow"

    export default Vue.extend({
        data() {
            return {
                name: "World"
            }
        },
        components: {
            // HelloWorld,
        },
    });
</script>

<style lang="stylus" scoped>
    .container {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
